@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
         url('/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
         url('/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('/fonts/AvenirNextLTPro-It.woff2') format('woff2'),
         url('/fonts/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    --font-1: 'EB Garamond', sans-serif;
    --font-2: 'Avenir Next LT Pro', sans-serif;
    --color-1: #000;
    --color-2: #2b2b2b;
    --color-3: #6d625d;
    --color-4: #e7e4de;
    --color-5: #f6f5f3;
}

body {
    font-family: var(--font-2); /* Terapkan font Avenir Next LT Pro */
    color: var(--color-5); /* Terapkan warna teks default */
    background-color: var(--color-4); /* Terapkan warna background default */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-1); /* Terapkan font EB Garamond untuk heading */
    color: var(--color-1); /* Terapkan warna heading */
}

/* Anda bisa menambahkan style lain di sini, misalnya untuk link, button, dll. */