---
import MyBlog from '../components/myblog.jsx';
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
  <Layout>
    <body>
      <MyBlog client:load />
    </body>
  </Layout>
</html>