---
import Taglines from '../components/taglines.jsx';
import Toservices from '../components/toservices';
import Clientlogos from '../components/clientlogos';
import Testimonials from '../components/testimonials';
import Toinstagrams from '../components/toinstagrams';
import MyportofolioHome from '../components/myportofoliohome';
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
    <Layout>
      <body>
        <!-- <h1>Taglines Section</h1> -->
        <Taglines client:load />
        <!-- <h1>Services Section</h1> -->
        <Toservices client:load />
        <!-- <h1>Logo Section</h1> -->
        <Clientlogos client:load />
        <!-- <h1>Portofolio Section</h1> -->
        <MyportofolioHome client:load />
        <!-- <h1>Testimonials Section</h1> -->
        <Testimonials client:load />
        <!-- <h1>Instagrams Section</h1> -->
        <Toinstagrams client:load />
      </body>
  </Layout>

</html>
<style>
  .responsive-body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .section {
    padding: 20px;
  }

  /* Media Queries untuk Responsif */

  @media (max-width: 768px) {
    .section {
      padding: 15px;
    }
    /* Tambahkan style khusus untuk tablet di sini */
  }

  @media (max-width: 480px) {
    .section {
      padding: 10px;
    }
    /* Tambahkan style khusus untuk ponsel di sini */
  }
</style>