---
import MyBlogAdmin from '../components/myblogadmin.jsx';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Admin</title>
</head>
<body>
    <MyBlogAdmin client:load />
</body>
</html>