---
import MyServicesAdmin from '../components/myservicesadmin.jsx';
---

<html lang="en">
  <head>
    <title>Services Admin</title>
  </head>
  <body>
    <h1>Services Admin</h1>
    <MyServicesAdmin client:load />
  </body>
</html>