---
import MyPortofolio from '../components/myportofolio.jsx';
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
  <Layout>
    <body>
      <MyPortofolio client:load />
    </body>
  </Layout>
</html>