---
import Service from '../components/myservices.jsx';
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
  <Layout>
    <body>
      <Service client:load />
    </body>
  </Layout>
</html>